<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "Track Yo' Gas", root_url %></h1>
    </li>
    <li class="toggle-topbar menu-icon">
      <a href="#"><span>Menu</span></a>
    </li>
  </ul>
  <section class="top-bar-section">
  </section>
</nav>